body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff; /* Ensure the text color is white */
  margin-left: 10px;
}

footer a i {
  color: #fff; /* Set the icon color to white */
}